CompileFlags:
    Add: [-std=c23]
    CompilationDatabase: .build/Debug-reloadable

Diagnostics:
    MissingIncludes: Strict
    UnusedIncludes: Strict

Style:
    QuotedHeaders: "src/.*"
    AngledHeaders: ["include/.*"]
