---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlines: Left
AlignTrailingComments: "true"
BinPackArguments: "false"
BinPackParameters: "false"
IncludeBlocks: Regroup
IndentCaseLabels: "true"
IndentPPDirectives: BeforeHash
IndentWidth: "2"
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: Cpp
SpaceInEmptyParentheses: "false"
SpacesBeforeTrailingComments: "4"
SpacesInContainerLiterals: "true"
Standard: Cpp23
TabWidth: "2"
UseTab: Never
ColumnLimit: 120

---

