---
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlines: Left
AlignTrailingComments: "true"
BinPackArguments: "false"
BinPackParameters: "false"
IncludeBlocks: Regroup
IndentCaseLabels: "true"
IndentPPDirectives: BeforeHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: C
SpaceInEmptyParentheses: "false"
SpacesInContainerLiterals: "true"
Standard: Latest
TabWidth: "4"
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: Never
ColumnLimit: 200
---
