---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
AlignConsecutiveMacros: "true"
AlignConsecutiveDeclarations: "true"
AlignEscapedNewlines: LeftWithLastLine
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseColons: false
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Always
BinPackArguments: "false"
BinPackParameters: "false"
IncludeBlocks: Regroup
IndentCaseLabels: "true"
IndentPPDirectives: BeforeHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: C
SpaceInEmptyParentheses: "false"
SpacesInContainerLiterals: "true"
Standard: Latest
TabWidth: "4"
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: Never
ColumnLimit: 120 # Configured in .editorconfig
---

